<% provide(:title, @title) %>
<%= render 'profile', user: @user %>
    <section class="stats">
      <% if @users.any? %>
          <h1 style="text-align: center"><%= @title %>:</h1>
            <% @users.each do |user| %>
                <%= render 'profile', user: user %>
            <% end %>
          <div class="text-center" id="paginator">
            <%= link_to_previous_page @users, 'PREVIOUS', id: 'load_more' %>
            <%= link_to_next_page @users, 'NEXT', id: 'load_more' %>
          </div>
      <% end %>
    </section>